.btn {
    border-radius: 5px;
    color: white;
}

.btn-big {
    padding: 0.5rem 0.5rem;
}

.btn-small {
    padding: 0.3rem 0.4rem;
    background-color: $btnAvailable-color;
}

.btn-available {
    
}
